/*OK SO WHAT'S SUPER COOL IS THAT YOU CAN CHANGE THE COLORS OF WHAT THINGS ARE
AND IF YOU CHANGE THEM HERE THEY'LL CHANGE THROUGH THE WHOLEEEEE THING. SO YOU DONT HAVE TO
BE TEDIOUS ABOUT CHANGING EACH INDIVIDUAL THING HEHE
ALSO DONT TOUCH THE FIRST SET OF COLORS CUS I LIKE THEM THERE ... THEYRE IMPORTANT 2 ME*/
:root{
  --charcoalblack:rgb(13, 13, 13);
  --trueblood:rgb(66, 0, 0);
  --pizzariared:rgb(137, 0, 0);
  --whitebunny:rgb(221, 221, 221);

  --backgroundcolor:var(--whitebunny);
  --bordercolor:var(--pizzariared);
  --textcolor:var(--charcoalblack);
  --textsecondcoloar:var(--trueblood);
}


body{
  margin-left:10%;
  margin-right:10%;
  min-height:100%;
  background-color: var(--charcoalblack);
  color:var(--textcolor);
}
body a{
  color:var(--textsecondcolor);
}
hr{
  border-style: dashed;
  border-color: var(--bordercolor);
}

.main-container{
  float: center;
  background-color:var(--backgroundcolor);
  width: auto;
  margin:15%;
  margin-top:unset;
  margin-bottom: unset;
  padding: 10px;
  height:auto;
  min-height: 80%;

  border-radius:10px;
  border-width: 5px;
  border-style:double;
  border-color:var(--bordercolor);
}
.main-container img{
  max-width: 100%;
}

.main-container .sideleft{
  background-color: var(--backgroundcolor);
  width: 20%;
  height: inherit;
  overflow-y: hidden;
  float:left;
  margin-right:10px;
  
  border-right-color: var(--bordercolor);
  border-right-width: 1px;
  border-right-style: dashed;
  border-bottom-color: var(--bordercolor);
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.main-containr .middlecenter{
  width:100%;
  padding:10%;
}